<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Favorite Food</title>
	</head>
	<body>
		<h1>Favorite <%= title %> !</h1>
		<ul>
			<li>Hey hey</li>
			<% for(const fav of list) { %>
			<li><%= fav %></li>
			<% } %>
		</ul>
	</body>
</html>

<% %> <%= %>
