html,body{
  margin:0;
}
body{
  font-family: Helvetica;
  font-size:16px;
}

.App{
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.game{
  display:flex;
  justify-content:center;
  span{
    padding:2rem;
    font-size:12em;
  }
}